.my-view-card {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 100%;
  width: 85%;
}

.modern-card {
  display: flex;
  background: rgb(189, 186, 186);
  border-radius: 10px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  width: 100%;
}

.modern-left {
  background: #1f2937;
  color: white;
  padding: 24px;
  width: 35%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}

.modern-right {
  padding: 24px;
  width: 65%;
  box-sizing: border-box;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.download-button {
  background-color: #1f2937;
  color: white;
  padding: 10px 20px;
  border-radius: 8px;
  cursor: pointer;
  font-size: 14px;
  display: block;
  margin: 20px auto;
  transition: background-color 0.3s ease;
}

.download-button:hover {
  background-color: #111827;
}
