.admin-container {
    display: flex;
    min-height: 100vh;
    background-color: #f3f4f6;
  }
  
  /* Menu */
  .menu {
    width: 250px;
    background-color: #26264b;
    box-shadow: 2px 0 8px rgba(0, 0, 0, 0.05);
    padding: 1.5rem;
  }
  
  .menu-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 2rem;
  }
  
  .menu-nav button {
    display: block;
    width: 100%;
    padding: 0.75rem 1rem;
    text-align: left;
    border-radius: 8px;
    margin-bottom: 1rem;
    font-size: 15px;
    background-color: transparent;
    color: #e8ebf0;
    transition: background 0.2s;
    border: none;
  }
  .exit-button{
    display: block;
    width: 100%;
    padding: 0.75rem 1rem;
    text-align: left;
    border-radius: 8px;
    margin-bottom: 1rem;
    font-size: 15px;
    background-color: transparent;
    color: #1e3a8a;
    transition: background 0.2s;
    border: none;
  }
  
  .menu-nav button:hover {
    background-color: #1e3a8a;
  }
  .menu-nav button.Users-info {
    background-color: #1e3a8a;
    color: white;
  }
  
  .menu-nav button.active {
    background-color: #1e3a8a;
    color: white;
  }
  
  .main-content {
    flex: 1;
    padding-left: 20px;
  }
  
  .main-title {
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 1.5rem;
  }
  
  /* Table Styles */
  .order-table {
    width: 100%;
    background-color: white;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
    border-collapse: collapse;
  }
  
  .order-table th,
  .order-table td {
    padding: 12px 16px;
    text-align: left;
    border-bottom: 1px solid #e5e7eb;
    font-size: 14px;
  }
  
  .order-table thead {
    background-color: #f3f4f6;
    font-weight: 600;
  }
  
  .order-table tbody tr:hover {
    background-color: #f9fafb;
  }
  
  /* Status badges */
  .badge {
    display: inline-block;
    padding: 4px 12px;
    border-radius: 9999px;
    font-size: 12px;
    color: white;
  }
  
  .badge.sent {
    background-color: #3b82f6;
  }
  
  .badge.approved {
    background-color: #10b981;
  }
  
  .badge.canceled {
    background-color: #f87171;
  }

  .status-select {
  padding: 6px 10px;
  border-radius: 6px;
  border: 1px solid #ccc;
  font-weight: bold;
  transition: 0.3s;
  cursor: pointer;
}

.status-select:hover {
  border-color: #666;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
}
.status-select.waiting {
  background-color: #fff3cd;
  color: #856404;
}

.status-select.success {
  background-color: #d4edda;
  color: #155724;
}

.status-select.payment {
  background-color: #d1ecf1;
  color: #0c5460;
}

  